numpy
rouge_score
fire
openai
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
torch
sentencepiece
tokenizers==0.12.1
wandb
git+https://github.com/huggingface/peft.git
transformers
sentencepiece
gradio
tiktoken
scipy
peft
trl